@font-face {
  font-family: "STARWARS";
  src: url('src/fonts/STARWARS.eot?') format("eot"),
  url('src/fonts/STARWARS.woff') format("woff"),
  url('src/fonts/STARWARS.ttf') format("truetype"),
  url('src/fonts/STARWARS.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
